<div class="card text-light shadow" style="background-color: #f9f9f9; cursor: pointer;"
	onclick="location.href = '{{ include.href | relative_url }}'">
	<div class="card-header text-center p-1">
		{% include loading.html %}
		<img id="{{ include.id }}" src="{{ include.img | relative_url }}" alt="image" class="card-img-top"
			style="object-fit: cover; visibility: hidden;" height="220" loading="lazy"
			onload="{mostrar(this, this.id)}">
	</div>
	<div class="card-body">
		<h5 class="card-title text-info">
			{{ include.title }}
		</h5>
		<p class="card-text text-dark">
			{{ include.text }}
		</p>
	</div>
</div>