<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted top-0 mt-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Visita nuestras redes sociales</span>
    </div>
    <!-- Left -->
    <!-- Right -->
    <div>
      <a href="https://web.facebook.com/espaciounolll/" target="_blank" class="me-4 text-decoration-none">
        <i class="fab fa-facebook-f fs-5"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Condominio Espacio Uno III
          </h6>
          <p>
            En un esfuerzo de mejorar la comunicación entre propietarios, administración del Condominio, este sitio web esperamos ayude a mejorar nuestra comunidad.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Recomendaciones
          </h6>
          <p>
            <a href="mailto:comite.espaciouno@gmail.com?subject=Sugerencia y recomendación" target="_blank" class="text-decoration-none">Escribenos</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
             links
          </h6>
          {% for item in site.data.footer.links %}
 		    <p>
            <a target='{{ item.target }}' href="{{ item.link | relative_url }}" class="text-decoration-none">{{ item.nombre }}</a>
          </p>
          {% endfor %}
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> Federico Arcos 599, La Serena</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            comite.espaciouno@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> <a href="tel:56532650033" class="text-decoration-none text-dark">+ 56 532 650 033 ( garita )</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
   © 20{{ site.time | date: '%y' }}  Condominio Espacio Uno III
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
