<style>
  .card-img-top {
    transition: transform .5s ease;
 }

 @media (hover: hover){
    .card-img-top:hover {
        transform: scale(1.1);
      }
 }
.list-group-item:hover {
    filter: sepia(60%);
}
</style>
<fieldset class="shadow-sm">
    <legend>
        <h3 class="text-center text-uppercase fs-1" style="color: lightseagreen;">Conoce nuestro quincho</h3>
    </legend>
<div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{{ '/assets/quincho/01.jpg' | relative_url }}" class="d-block w-75 mx-auto" alt="img - quincho"
                    data-bs-toggle="tooltip" title="abrir" data-bs-placement="bottom" height="400" style="object-fit: cover; z-index: 9999">
        </div>
        <div class="carousel-item">
          <img src="{{ '/assets/quincho/02.jpg' | relative_url }}" class="d-block w-75 mx-auto" alt="img - quincho"
                    data-bs-toggle="tooltip" title="abrir" data-bs-placement="bottom" height="400" style="object-fit: cover; z-index: 9999">
        </div>
        <div class="carousel-item">
          <img src="{{ '/assets/quincho/03.jpg' | relative_url }}" class="d-block w-75 mx-auto" alt="img - quincho"
                    data-bs-toggle="tooltip" title="abrir" data-bs-placement="bottom" height="400" style="object-fit: cover; z-index: 9999">
        </div>
      </div>
      <button class="carousel-control-prev" style="background: #000; height: 80px; width:80px; margin: auto 0; border-radius: 50%" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" style="background: #000; height: 80px; width:80px; margin: auto 0; border-radius: 50%" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</fieldset>