<!-- Google Calendar Appointment Scheduling begin -->
<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<style>
	.qxCTlb {
		font-size: 28px;
		font-family: sans-serif !important;
		margin-bottom: 15px;
		padding:10px;
	}
</style>
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ0TsSjLGVFkfhTvreS4w3cB1uVofiLLPsdDOPObifmmqaOSEWD3UUd-Lsw8E7zftPppGp8zHaaw?gv=true',
      color: '#039BE5',
      label: "Reservar Quincho",
      target,
    });
  });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->
<!-- end Google Calendar Appointment Scheduling -->
<iframe src="https://embed.styledcalendar.com/#UEtCiYcMZKTwvh7ywYUz" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: 1px solid #ccc;border-radius: 6px; box-shadow: 1px 1px 10px #00010" data-cy="calendar-embed-iframe"></iframe>
<script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>