<style>
	fieldset, legend {
	   all: revert;
	   text-align: center;
	   background: #fff;
	}
	fieldset {
	   background: #fff;
	   border: 1px solid #ccc;
	   border-radius: 8px;
	   box-shadow: 2px 3px 12px #00000030;
	   margin: 15px 0;
	}
	.nav-link {
		color: #107A89;
	}
</style>

<fieldset>
	<legend>
<h3 class="rounded text-uppercase fs-2" style="color: lightseagreen;">Horarios disponibles</h3>
	</legend>
<!-- BLOQUE HORARIOS -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for item in site.data.normas[0].bloques %}
      <li class="nav-item fw-bold" role="presentation">
        <button class="nav-link {% if item.active %}active{% endif %}" id="{{ item.bloque }}" data-bs-toggle="tab" data-bs-target="#{{ item.bloque }}_pane" type="button" role="tab" aria-controls="{{ item.bloque }}" aria-selected="true">{{ item.nombre | upcase }}</button>
       </li>
    {% endfor %}
</ul>
<div class="tab-content mt-3" id="myTabContent">
    {% for item in site.data.normas[0].bloques %}
      <div class="tab-pane fade fs-5 fw-bold {% if item.active %}show active{% endif %}" id="{{ item.bloque }}_pane" role="tabpanel" aria-labelledby="{{ item.bloque }}_pane" tabindex="0" style="text-decoration: underline 1px solid; color: #107A89"><i class="fa fa-clock"></i> {{ item.horario | upcase }}</div>
    {% endfor %}
</div>
</fieldset>