<fieldset>
	<legend>
<h3 class="rounded text-uppercase fs-2">Cuenta del condominio</h3>
	</legend>
<div class="card bg-light overflow-hidden border-0">
	<div class="card-body p-0 border-0 rounded-0">
		<div class="text-center alert alert-warning m-0 text-uppercase rounded-bottom-0">
			Antes de realizar el pago, debe reserva hora.
		</div>
		<div class="accordion border-0" id="accordionOne">
			<div class="accordion-item bg-info bg-body rounded-0">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed text-uppercase fw-bold text-secondary" type="button"
						data-bs-toggle="collapse" data-bs-target="#collapseOne"
						style="background: #fcc3"
						aria-expanded="false" aria-controls="collapseOne">
						Ver información de pago
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show"
					aria-labelledby="headingOne" data-bs-parent="#accordionOne">
					<div class="accordion-body text-start">
						<ul class="list-group mt-2">
							<li class="list-group-item fs-5"><strong>Nombre:</strong><br>Condominio espacio uno III</li>
							<li class="list-group-item fs-5"><strong>N° cuenta:</strong><br>53.319.978-k</li>
							<li class="list-group-item fs-5"><strong>Correo:</strong><br>comite.espaciouno@gmail.com</li>
							<li class="list-group-item fs-5"><strong>Banco:</strong><br>Santander</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END ACCORDION -->
	</div>
</div>
</fieldset>