<nav class="navbar navbar-light bg-body sticky-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/logo.png' | relative_url }}" alt="logo" width="45" height="45">
    </a>
<!--     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="offcanvas offcanvas-end {% if page.url == '/' %}show{% endif%}" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% for item in site.data.navegacion %}
          <li class="nav-item">
            <a aria-current="page"
                href="{{ item.link | relative_url }}"
                {% if page.url == item.link %}
                 class="nav-link active"
                 {% else %}
                 class="nav-link"
                {% endif %}>
               <i class="{{ item.icon }} fs-5 me-2"></i>
               {{ item.name | upcase }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>