<style>
    #myframe {
        border: 2px solid #121212;
    }
    iframe::-webkit-scrollbar {
        height: 10px;              /* height of horizontal scrollbar ← You're missing this */
        width: 10px;               /* width of vertical scrollbar */
        // border: 1px solid #d5d5d5;
        border-radius: 0;
    }
    iframe::-webkit-scrollbar-thumb{
        background: #fca;
        border-radius: 0;
    }
    iframe::-webkit-scrollbar-corner {
        background-color: transparent ;
    }
    button.ifr-btn {
            /*background: #f93939;*/
            background: #20b1aa;
            border: none;
            padding: 7px 14px;
            color: #fff;
            cursor: pointer;
        }
    button.btn {
            background: transparent;
            border: none;
            height: 40px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
        }

        button.btn img {
            height: 100%;
        }

        .group-btn {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: auto;
            /*background: #323639;*/
        }

        .group-btn-ifr {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: auto;
            background: #323639;
            border: 2px solid #323639;
            padding-bottom: 3px;
        }
        .v_title {
            background: #20b1aa;
            margin: 0;
            color: #f3f3f1;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid #323639;
        }
</style>
<div class="flex">
    <h3 class="v_title display-5">Normas de uso</h3>
    <div class="group-btn-ifr">
        <button class="ifr-btn d-none d-lg-block" onclick="{document.getElementById('myframe').requestFullscreen()}" style="display: block;">Pantalla completa</button>
        <button id="open_blank" class="ifr-btn">Abrir en nueva ventana</button>
        <button id="share" class="ifr-btn" onclick="share('{{ include.pdf | relative_url }}')">Compartir</button>
        <button id="toolbar" class="ifr-btn d-none d-lg-block">Ocultar toolbar</button>
    </div>
    <iframe id="myframe" name="myframe" src="{{ include.pdf | relative_url }}?#zoom=100&view=fitH&navpanes=0&scrollbar=0" style="width:100%;height: 600px; overflow: hidden !important;" scrolling="no" frameborder="0"></iframe>
</div>
<script>
const toolbar_btn = document.querySelector("#toolbar");
const open_blank = document.getElementById("open_blank");
const ifr = document.getElementById('myframe');

const attrToggle = (el, attr, expression) => el.getAttribute(attr).includes(expression) ?
    el.setAttribute(attr, el.getAttribute(attr).replace(expression, '')) :
    el.setAttribute(attr, el.getAttribute(attr) + expression);

toolbar_btn.addEventListener("click", () => {
    attrToggle(ifr, "src", "&toolbar=0");
    toolbar_btn.textContent.includes("Activar") ?
        toolbar_btn.textContent = toolbar_btn.textContent.replace("Activar", "Ocultar") :
        toolbar_btn.textContent = toolbar_btn.textContent.replace("Ocultar", "Activar")
    window.frames[0].location.reload();
})

open_blank.addEventListener("click", () => {
    window.open(ifr.src, '_blank', 'fullscreen=yes,menubar=no,location=no,scrollbars=no')
})

function openMailApplication(file) {
    let params  = 'subject=Reglamento';
        params += '&body=Se adjunta documento para su visualización en la siguiente url:%0A👉 {{site.url}}'+file;
    window.location.href = 'mailto:email@example.com?'+params;
    // alert('mailto:email@example.com?'+params)
}


const share = async (file) => {
    const response = await fetch(file);
    const buffer = await response.arrayBuffer();

    const pdf = new File([buffer], file.split('/')[4], { type: "application/pdf" });
    const files = [pdf];

    // Share PDF file if supported.
    if ("share" in navigator) {
        await navigator.share({ files });
    } else {
        openMailApplication(file);
    }
};
</script>