<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
  	{% include navigation.html %}
    {% if page.banner %}
  	 {% include banner.html %}
    {% else %}
     {% include main_banner.html %}
    {% endif %}
  	<div class="py-3 content">
    {{ content }}
  	</div>
  	{% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/6b8f0c7049.js" crossorigin="anonymous"></script>
    {% if page.libs %}
      {% for lib in page.libs %}
        <script src="{{ lib }}"></script>
      {% endfor %}
    {% endif %}
    <script>
	// tooltip
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
   <script type="text/javascript">
      document.querySelectorAll("img[alt*='img']").forEach(element => {
        element.style.cursor = "pointer";
        element.addEventListener('click', () => {
          let params  = 'width='+screen.width;
           params += ', height='+screen.height;
           params += ', top=0, left=0'
           params += ', fullscreen=yes';
           params += ', directories=no';
           params += ', location=no';
           params += ', menubar=no';
           params += ', resizable=no';
           params += ', scrollbars=no';
           params += ', status=no';
           params += ', toolbar=no';
          const popup = window.open(element.src, '_blank', params)
        })
      })

      function compartir(objeto) {
        if (navigator.share){
          navigator
            .share(objeto)
            .then(() => console.log("Successfully share"))
            .catch(err => console.log("Error sharing", err))
        } else{
          console.log("No soportado")
        }
      }
    </script>
  </body>
</html>
